body {
    background-color: #262d39;;
}

.text {
    background-color: #212529;
    margin: 5%;
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.text h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 35px;
}

.text p {
    color: white;
    text-align: center;
    font-size: 19px;
}

#xhtml, #css {
    margin-left: 33%;
}

.xhtml, .css {
    color: rgb(75, 145, 236);
    text-decoration: underline red;
    font-size: 25px;
    margin-bottom: 1%;
}

.a, a {
    color: rgb(83, 228, 83);
    margin-bottom: 1%;
}

.exo {
    color: yellow;
    margin-bottom: 1%;
}

.seance {
    color: #ff6c02;
    margin-bottom: 1%;
}